body {
  background-color: #F7FBFC !important;
  border: 1px solid transparent;
  padding-bottom: 20px;
}

.App {
  text-align: center;
}

/* Header Component */

.app-bar {
  background-color: #b9d7ea;
}

/* Sidebar */

.sidebar {
  background-color: #f7fbfc;
}

.sidebar-list {
  list-style-type: none;
  text-align: center;
  padding-bottom: 50px;
  padding-right: 30px;

}

.sidebar-list-styling {
  background-color: #D6e6f2;
  /* padding-left: 50px; */
  padding-top: 15px;
  width: 20%;
  color: black;
  margin-top: -10px;
}

.sidebar-list a {
  color: white;
  padding: 0;
  text-decoration: none;
}

.sidebar-route{
  flex: 1;
  padding: '00px';
}

/* Home component */

.unsplash-map {
  max-width: 50%;
  border-radius: 10px;
  opacity: 0.7;
}

.homeHeader {
  color: #F85050;
}

.homeParagraph {
  color: #8196a3;
}

/* Weather component */
.submit {
  background-color: #F85050;
  vertical-align: middle;
  border: none;
  line-height: 1;
  transition: all .1s ease-out;
  margin-right: 4px;
  margin-bottom: 4px;
  max-width: 100%;
  text-align: center;
  color: #fafafa;
  padding: 17px 30px;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-appearance: none;
  font-size: 14px
}

.submit a:hover {
  box-shadow: 5px 5px 5px color #f85050;
}

.weatherList {
  list-style-type: none;
}

.card-header {
  color: #F85050;
  text-align: center;
}